Repository kshehadeh/ansie: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, tsc

lefthook.yml:

# EXAMPLE USAGE:

#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

pre-push:
  commands:
    update-build:
      tags: build
      run: bun run bld

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,ts,jsx,tsx}"
      run: bunx eslint {staged_files}
    tsc:
      glob: "*.{ts,tsx}"
      run: bunx tsc --noEmit

Added new emoji to docs
  packages/ansie/README.md
Due: none

Fixed issue where spaces were not being output properly in final rendered text
  packages/ansie/package.json
  packages/ansie/scripts/parser/ansie-markup.peggy
  packages/ansie/src/compiler/types.ts
  packages/ansie/src/index.ts
  packages/ansie/src/parser/generated-parser.js
  packages/ansie/src/template/index.test.ts
  packages/ansie/src/themes/themes.ts
  packages/ansie/test/generated/compiler-fixtures.json
Due: eslint, tsc

Fixed issue where spaces were not being output properly in final rendered text (#10)
  packages/ansie/package.json
  packages/ansie/scripts/parser/ansie-markup.peggy
  packages/ansie/src/compiler/types.ts
  packages/ansie/src/index.ts
  packages/ansie/src/parser/generated-parser.js
  packages/ansie/src/template/index.test.ts
  packages/ansie/src/themes/themes.ts
  packages/ansie/test/generated/compiler-fixtures.json
Due: eslint, tsc

Versioned
  apps/ansie-cli/CHANGELOG.md
  apps/ansie-cli/package.json
  apps/kitchen-sink/CHANGELOG.md
  apps/kitchen-sink/index.ts
  apps/kitchen-sink/package.json
  bun.lockb
  package-lock.json
  packages/ansie/CHANGELOG.md
  packages/ansie/package.json
Due: eslint, tsc

Updated to version 0.7.0
  apps/ansie-cli/CHANGELOG.md
  apps/ansie-cli/package.json
  apps/kitchen-sink/CHANGELOG.md
  apps/kitchen-sink/package.json
  packages/ansie/CHANGELOG.md
  packages/ansie/package.json
Due: none

Do not show link or image url twice
  packages/ansie/src/utilities/convert-markdown-to-ansie.ts
Due: eslint, tsc

Do not show link or image url twice
  apps/kitchen-sink/index.ts
  apps/kitchen-sink/package.json
  package-lock.json
Due: eslint, tsc

Version update
  apps/ansie-cli/CHANGELOG.md
  apps/ansie-cli/package.json
  apps/kitchen-sink/CHANGELOG.md
  apps/kitchen-sink/package.json
  packages/ansie/CHANGELOG.md
  packages/ansie/package.json
Due: none

13 Fix markdown link rendering (#14)
  apps/ansie-cli/CHANGELOG.md
  apps/ansie-cli/package.json
  apps/kitchen-sink/CHANGELOG.md
  apps/kitchen-sink/index.ts
  apps/kitchen-sink/package.json
  package-lock.json
  packages/ansie/CHANGELOG.md
  packages/ansie/package.json
  packages/ansie/src/utilities/convert-markdown-to-ansie.ts
Due: eslint, tsc

Removed usage of peggy for parsing of html/jsx
  apps/kitchen-sink/index.ts
  package-lock.json
  package.json
  packages/ansie/package.json
  packages/ansie/scripts/parser/ansie-markup.peggy
  packages/ansie/scripts/parser/generate.ts
  packages/ansie/src/ask/index.ts
  packages/ansie/src/compile/index.ts
  packages/ansie/src/parse/generated-parser.js
  packages/ansie/src/parse/index.test.ts
  packages/ansie/src/parse/index.ts
  packages/ansie/src/themes/index.ts
  packages/ansie/src/utilities/convert-markdown-to-ansie.test.ts
  packages/ansie/src/utilities/convert-markdown-to-ansie.ts
  packages/ansie/test/generated/compiler-fixtures.json
  packages/ansie/test/record.ts
Due: eslint, tsc

Removed usage of peggy for parsing of html/jsx (#16)
  apps/kitchen-sink/index.ts
  package-lock.json
  package.json
  packages/ansie/package.json
  packages/ansie/scripts/parser/ansie-markup.peggy
  packages/ansie/scripts/parser/generate.ts
  packages/ansie/src/ask/index.ts
  packages/ansie/src/compile/index.ts
  packages/ansie/src/parse/generated-parser.js
  packages/ansie/src/parse/index.test.ts
  packages/ansie/src/parse/index.ts
  packages/ansie/src/themes/index.ts
  packages/ansie/src/utilities/convert-markdown-to-ansie.test.ts
  packages/ansie/src/utilities/convert-markdown-to-ansie.ts
  packages/ansie/test/generated/compiler-fixtures.json
  packages/ansie/test/record.ts
Due: eslint, tsc

Version updated
  apps/ansie-cli/CHANGELOG.md
  apps/ansie-cli/package.json
  apps/kitchen-sink/CHANGELOG.md
  apps/kitchen-sink/package.json
  packages/ansie/CHANGELOG.md
  packages/ansie/package.json
Due: none

Updated versions
  .gitignore
  apps/ansie-cli/CHANGELOG.md
  apps/ansie-cli/dist/index.d.ts
  apps/ansie-cli/dist/index.js
  apps/ansie-cli/package.json
  apps/kitchen-sink/CHANGELOG.md
  apps/kitchen-sink/dist/index.d.ts
  apps/kitchen-sink/dist/index.js
  apps/kitchen-sink/package.json
  dist/node/cli.js
  dist/node/cli.js.map
  dist/node/index.d.ts
  dist/node/index.js
  dist/node/index.js.map
  packages/ansie/CHANGELOG.md
  packages/ansie/package.json
Due: eslint, tsc

Added some tests
  apps/ansie-cli/dist/index.js
  apps/kitchen-sink/dist/index.js
  apps/kitchen-sink/index.ts
  package-lock.json
  packages/ansie/dist/cjs/themes/index.test.d.ts
  packages/ansie/dist/esm/themes/index.test.d.ts
  packages/ansie/src/themes/index.test.ts
  packages/ansie/test/generated/compiler-fixtures.json
  packages/ansie/test/test-markup-strings.ts
Due: eslint, tsc

Updated to new version
  apps/ansie-cli/CHANGELOG.md
  apps/ansie-cli/package.json
  apps/kitchen-sink/CHANGELOG.md
  apps/kitchen-sink/package.json
  packages/ansie/CHANGELOG.md
  packages/ansie/package.json
Due: none

Cleaned up some issues with parsing a mixture of markup and markdown
  packages/ansie/README.md
  packages/ansie/dist/cjs/index.js
  packages/ansie/dist/esm/index.js
  packages/ansie/src/compile/Compiler.ts
  packages/ansie/src/compile/node/list.ts
  packages/ansie/src/compile/types.ts
  packages/ansie/src/experiment.ts
  packages/ansie/src/themes/index.test.ts
  packages/ansie/src/themes/index.ts
  packages/ansie/src/utilities/convert-markdown-to-ansie.test.ts
  packages/ansie/src/utilities/convert-markdown-to-ansie.ts
  packages/ansie/test/generated/compiler-fixtures.json
  packages/ansie/test/test-markup-strings.ts
Due: eslint, tsc

Cleaned up some issues with parsing a mixture of markup and markdown (#19)
  packages/ansie/README.md
  packages/ansie/dist/cjs/index.js
  packages/ansie/dist/esm/index.js
  packages/ansie/src/compile/Compiler.ts
  packages/ansie/src/compile/node/list.ts
  packages/ansie/src/compile/types.ts
  packages/ansie/src/experiment.ts
  packages/ansie/src/themes/index.test.ts
  packages/ansie/src/themes/index.ts
  packages/ansie/src/utilities/convert-markdown-to-ansie.test.ts
  packages/ansie/src/utilities/convert-markdown-to-ansie.ts
  packages/ansie/test/generated/compiler-fixtures.json
  packages/ansie/test/test-markup-strings.ts
Due: eslint, tsc

Updated kitchen sink
  apps/ansie-cli/dist/index.js
  apps/kitchen-sink/dist/index.js
  apps/kitchen-sink/index.ts
  apps/kitchen-sink/package.json
  package-lock.json
Due: eslint, tsc

Version updates
  apps/ansie-cli/CHANGELOG.md
  apps/ansie-cli/package.json
  apps/kitchen-sink/CHANGELOG.md
  apps/kitchen-sink/package.json
  packages/ansie/CHANGELOG.md
  packages/ansie/dist/cjs/compile/node/list.d.ts
  packages/ansie/dist/cjs/compile/types.d.ts
  packages/ansie/dist/cjs/experiment.d.ts
  packages/ansie/dist/cjs/index.js
  packages/ansie/dist/cjs/themes/index.d.ts
  packages/ansie/dist/cjs/utilities/convert-markdown-to-ansie.d.ts
  packages/ansie/dist/esm/compile/node/list.d.ts
  packages/ansie/dist/esm/compile/types.d.ts
  packages/ansie/dist/esm/experiment.d.ts
  packages/ansie/dist/esm/index.js
  packages/ansie/dist/esm/themes/index.d.ts
  packages/ansie/dist/esm/utilities/convert-markdown-to-ansie.d.ts
  packages/ansie/package.json
Due: eslint, tsc

Updated npm commands to work better in idx environment
  apps/ansie-cli/dist/index.js
  package-lock.json
  package.json
Due: eslint

always use npm public registry
  apps/ansie-cli/CHANGELOG.md
  apps/ansie-cli/package.json
  apps/kitchen-sink/CHANGELOG.md
  apps/kitchen-sink/package.json
  packages/ansie/CHANGELOG.md
  packages/ansie/package.json
Due: none

Add support for loop flag in ask.select
  packages/ansie/src/ask/index.ts
Due: eslint, tsc

versioned
  apps/ansie-cli/CHANGELOG.md
  apps/ansie-cli/dist/index.js
  apps/ansie-cli/package.json
  apps/kitchen-sink/CHANGELOG.md
  apps/kitchen-sink/package.json
  packages/ansie/CHANGELOG.md
  packages/ansie/dist/cjs/ask/index.d.ts
  packages/ansie/dist/cjs/index.js
  packages/ansie/dist/esm/ask/index.d.ts
  packages/ansie/dist/esm/index.js
  packages/ansie/package.json
Due: eslint, tsc

Added support for passing name/value pairs in as select choices
  packages/ansie/src/ask/index.ts
Due: eslint, tsc

Increment versions
  apps/ansie-cli/CHANGELOG.md
  apps/ansie-cli/dist/index.js
  apps/ansie-cli/package.json
  apps/kitchen-sink/CHANGELOG.md
  apps/kitchen-sink/package.json
  packages/ansie/CHANGELOG.md
  packages/ansie/dist/cjs/ask/index.d.ts
  packages/ansie/dist/cjs/index.js
  packages/ansie/dist/esm/ask/index.d.ts
  packages/ansie/dist/esm/index.js
  packages/ansie/package.json
Due: eslint, tsc

Fixed lefthook thing
  lefthook.yml
Due: none

Fixed some things
  .gitignore
  lefthook.yml
Due: none

Fixed issues with api
  CHANGELOG.md
  dist/cjs/index.js
  dist/esm/index.js
  src/ask/index.ts
Due: eslint, tsc

Cleanup
  dist/cjs/ask/index.d.ts
  dist/cjs/index.js
  dist/esm/ask/index.d.ts
  dist/esm/index.js
  src/experiment.ts
Due: eslint, tsc
